
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/*html { font-size: calc(1em + 1vw); } */


.header>img{
    border-radius: 30%;
    max-width: 25%;
    border: solid thin black;
    box-shadow: 0px 0px 15px 5px;
}

.intro{
    height: 80%;
}

h1 {
    font-size: 4vw;
    color: rgb(65, 64, 64);
}

h2{
    font-size: 3vw;
    color: rgb(51, 145, 246);
}

h3{
    font-size: 1.5vw;   
}

.full-bleed{
    box-shadow: 0 0 0 100vmax black;
    clip-path: inset(0 -100vmax);
}

.skills{
    background-color: black;   
}

h4{
    color:white;
}

.skillsIcons{
    flex-basis: 33.33%;
}

p{
    color:white;
}


a:hover{
    .github {  
    fill: purple;} 
}

a:hover{
    .linkedin {  
    fill: #0A66C2;} 
}

a:hover{
    .gmail {  
    fill: #BB001B;} 
}

svg:hover{
    transform: scale(1.2, 1.2);
}

